$color-orange-primary: oklch(73.951% 0.18279 55.117);
$color-blue-secundary: oklch(35.678% 0.16635 262.12); 
$color-gray-400 : oklch(70.7% 0.022 261.325);
$color-gray-500 :oklch(55.1% 0.027 264.364);
$color-white: #e7e5e4; 

.cardsPreguntas{
    outline: none;
    width: 100%;
    padding: 1rem; 
    border: 1px solid $color-gray-400;
    border-radius: 7px;
    background-color: white;
}

.title{
    color: $color-orange-primary;
    font-weight: bold;
}

.text{
    text-align: justify;
}