.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 320px) and (max-width: 644px) {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
}

.containerContact {
  width: 70%;
  height: auto;
  padding: 1.5rem 4rem;

  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    padding: 1rem;
  }

  @media (min-width: 768px) and (max-width: 1360px) {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}

.containerForm {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;

  @media (min-width: 320px) and (max-width: 700px) {
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

.cardsContainer {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding-left: 10px;
  gap: 10px;

  @media (min-width: 320px) and (max-width: 644px) {
    p {
      word-wrap: break-word;
    }
    gap: 10px;
    padding: 0;
  }
}

.titles {
  padding: 1.5rem 0rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  @media (min-width: 320px) and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }
}

.cardsPreguntasContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  @media (min-width: 320px) and (max-width: 700px) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

.cardsPreguntas {
  padding-top: 2rem;

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
}
