:root, body {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  
  color: oklch(14.5% 0 0); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: flex;
  place-items: center;
}

#root{
  min-width: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
