$color-orange-primary: oklch(73.951% 0.18279 55.117);
$color-blue-secundary: oklch(35.678% 0.16635 262.12);
$color-gray-400: oklch(70.7% 0.022 261.325);
$color-gray-500: oklch(55.1% 0.027 264.364);
$color-white: #e7e5e4;

.card_Mision_Vision {
  border: 1px solid #bebebeb2;
  border-radius: 7px;
  border-top: 5px solid $color-blue-secundary;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  .mision {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: justify;

    p {
      text-align: justify;
    }
  }

  .vision p {
    text-align: justify;
  }
}
